/* .p{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 6px;
  background-color: #555;
} */

.pad{
  padding: 180px;
  width: 200px;
  height: 200px;
  margin: 2px;
  background-color: rgb(214, 71, 71);
  border-radius: 100%;
  align-content: center;
  text-align: center;
}


.numb{
  font-size: 80px;
  text-align: center;
} 

.odd{
  background-color: aqua;
}

.even{
  background-color: red;
}